{% extends 'base.html' %}
{% block header_title%}
<h1>
  Comparar secuencias
</h1>
{%endblock%}
{%block body%}
<div class="box upload_form">
  <div class="box-header with-border">
      <h3>Subir archivos</h3> <small>Seleccione los archivos a comparar</small>
  </div>
  <div class="box-body">
    <div class="form-group row">
      <div class="col-sm-11">
        <label>Arbol 1</label>
        <!-- <textarea class="form-control" rows="3" id="newickTextArea1" placeholder="Escriba aqui su secuencia en formato newick"></textarea> -->
        <!-- <label>Ó</label> -->
        <button id="uploadBtn1" class="btn btn-large btn-primary">Seleccione su archivo</button>
        <div id="progressOuter1" class="progress progress-striped active" style="display:none;">
          <div id="progressBar1" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-11">
        <label>Arbol 2</label>
        <!-- <textarea class="form-control" rows="3" id="newickTextArea2" placeholder="Escriba aqui su secuencia en formato newick"></textarea> -->
        <!-- <label>Ó</label> -->
        <button id="uploadBtn2" class="btn btn-large btn-primary">Seleccione su archivo</button>
        <div id="progressOuter2" class="progress progress-striped active" style="display:none;">
          <div id="progressBar2" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom:10px;">
      <div class=" alert col-xs-10">
        <div id="msgBox">
        </div>
      </div>
    </div>
    <button id="procesar" class="btn btn-primary btn-large">Procesar</button>
  </div>
</div>
<div class="box proccess_form">
  <div class="box-body">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> procesando
  </div>
</div>
<div class="box proccess_seq">
  <div class="box-body">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Generando distancias con las secuencias
  </div>
</div>
<div class="box cargar_secuencias">
  <div class="box-header with-border">
      <h2>Cargar secuencias</h2> <small>Uno de los arboles no posee distancia</small>
  </div>

  <div class="box-body">
    <div class="form-group row form_seq1">
      <div class="col-sm-11">
        <label>Secuencia para el arbol 1</label>
        <!-- <textarea class="form-control" rows="3" id="newickTextArea3" placeholder="Ingresa aqui la secuencia para el arbol 1"></textarea> -->
        <!-- <label>Ó</label> -->
        <button id="uploadBtn3" class="btn btn-large btn-primary">Seleccione su archivo</button>
        <div id="progressOuter3" class="progress progress-striped active" style="display:none;">
          <div id="progressBar3" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
    </div>

    <div class="form-group row form_seq2">
      <div class="col-sm-11">
        <label>Secuencia para el arbol 2</label>
        <!-- <textarea class="form-control" rows="3" id="newickTextArea3" placeholder="Ingresa aqui la secuencia para el arbol 2"></textarea> -->
        <!-- <label>Ó</label> -->
        <button id="uploadBtn4" class="btn btn-large btn-primary">Seleccione su archivo</button>
        <div id="progressOuter4" class="progress progress-striped active" style="display:none;">
          <div id="progressBar4" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
    </div>
    <button id="procesar_seq" class="btn btn-primary btn-large">Procesar secuencias</button>
  
  </div>
</div>
{%endblock%}

{%block extra_js%}
<script src="static/js/simpleAjaxUploader.min.js"></script>
<script type="text/javascript">


$(function() {
  $("#procesar").hide();
  $("#procesar_seq").hide();
  $(".proccess_form").hide();
  $(".cargar_secuencias").hide();
  $(".proccess_seq").hide();
  $(".form_seq1").hide();
  $(".form_seq2").hide();


  var file1 = false;
  var file2 = false;
  var seq1 = true;
  var seq2 = true;

  var comprobar_archivos = function(){
    if (file1 && file2){
      $("#procesar").show();
    }
  }
  var comprobar_archivos_seq = function(){
    if (seq1 && seq2){
      $("#procesar_seq").show();
    }
  }

  var btn1 = document.getElementById('uploadBtn1'),
      progressBar1 = document.getElementById('progressBar1'),
      progressOuter1 = document.getElementById('progressOuter1');

  var btn2 = document.getElementById('uploadBtn2'),
      progressBar2 = document.getElementById('progressBar2'),
      progressOuter2 = document.getElementById('progressOuter2');

  var btn3 = document.getElementById('uploadBtn3'),
      progressBar3 = document.getElementById('progressBar3'),
      progressOuter3 = document.getElementById('progressOuter3');

  var btn4 = document.getElementById('uploadBtn4'),
      progressBar4 = document.getElementById('progressBar4'),
      progressOuter4 = document.getElementById('progressOuter4');


  var msgBox = document.getElementById('msgBox');

  var uploader = new ss.SimpleUpload({
        button: btn1,
        url: "{{url_for('upload_file', filename='tree1.tree')}}",
        name: 'uploadfile',
        data: {filename: 'tree1.tree'},
        multipart: true,
        hoverClass: 'hover',
        focusClass: 'focus',
        responseType: 'json',
        startXHR: function() {
            progressOuter1.style.display = 'block'; // make progress bar visible
            this.setProgressBar( progressBar1 );
        },
        onSubmit: function() {
            msgBox.innerHTML = ''; // empty the message box
            btn1.innerHTML = 'Subiendo...'; // change button text to "Uploading..."
          },
        onComplete: function( filename, response ) {
            btn1.innerHTML = "archivo: " + filename;
            progressOuter1.style.display = 'none'; // hide progress bar when upload is completed
            if ( !response ) {
                btn1.innerHTML = "Selecciona un archivo valido";
                msgBox.innerHTML = 'No se pudo subir el archivo';
                file1 = false;
                return;
            }
            if ( response.success == true ) {
              file1 = true;
              comprobar_archivos();
              $("#newickTextArea1").hide()

                msgBox.innerHTML = '<strong>' + filename + '</strong>' + ' ha subido correctamente.';
            } else {
                if ( response.msg )  {
                    msgBox.innerHTML = escapeTags( response.msg );
                } else {
                    msgBox.innerHTML = 'Ha ocurrido un error al intentar subir su archivo';
                }
            }
          },
        onError: function() {
            progressOuter1.style.display = 'none';
            file1 = false;
            btn1.innerHTML = "Selecciona un archivo valido";
            msgBox.innerHTML = 'No se pudo subir el archivo 1';
          }
  });


  var uploader2 = new ss.SimpleUpload({
        button: btn2,
        url: "{{url_for('upload_file', filename='tree2.tree')}}",
        name: 'uploadfile',
        data: {filename: 'tree2.tree'},
        multipart: true,
        hoverClass: 'hover',
        focusClass: 'focus',
        responseType: 'json',
        startXHR: function() {
            progressOuter2.style.display = 'block'; // make progress bar visible
            this.setProgressBar( progressBar2 );
        },
        onSubmit: function() {
            msgBox.innerHTML = ''; // empty the message box
            btn2.innerHTML = 'Subiendo...'; // change button text to "Uploading..."
          },
        onComplete: function( filename, response ) {
            btn2.innerHTML = "archivo: " + filename;
            progressOuter2.style.display = 'none'; // hide progress bar when upload is completed
            if ( !response ) {
                btn2.innerHTML = "Selecciona un archivo valido";
                msgBox.innerHTML = 'No se pudo subir el archivo';
                file2 = false
                return;
            }
            if ( response.success == true ) {
                $("#newickTextArea2").hide()
                file2 = true
                comprobar_archivos();
                msgBox.innerHTML = '<stsrong>' + filename  + '</strong>' + ' ha subido correctamente.';
            } else {
                if ( response.msg )  {
                    msgBox.innerHTML = escapeTags( response.msg );
                } else {
                    msgBox.innerHTML = 'Ha ocurrido un error al intentaru subir su archivo';
                }
            }
          },
        onError: function() {
            progressOuter2.style.display = 'none';
            btn2.innerHTML = "Selecciona un archivo valido";
            msgBox.innerHTML = 'No se pudo subir el archivo 2';
            file2 = false
          }
  });


  var uploader3 = new ss.SimpleUpload({
        button: btn3,
        url: "{{url_for('upload_file', filename='sequence1.seq')}}",
        name: 'uploadfile',
        data: {filename: 'sequence1.seq'},
        multipart: true,
        hoverClass: 'hover',
        focusClass: 'focus',
        responseType: 'json',
        startXHR: function() {
            progressOuter3.style.display = 'block'; // make progress bar visible
            this.setProgressBar( progressBar3 );
        },
        onSubmit: function() {
            msgBox.innerHTML = ''; // empty the message box
            btn3.innerHTML = 'Subiendo...'; // change button text to "Uploading..."
          },
        onComplete: function( filename, response ) {
            btn3.innerHTML = "archivo: " + filename;
            progressOuter3.style.display = 'none'; // hide progress bar when upload is completed
            if ( !response ) {
                btn3.innerHTML = "Selecciona un archivo valido";
                msgBox.innerHTML = 'No se pudo subir el archivo';
                seq1 = false
                return;
            }
            if ( response.success == true ) {
                $("#newickTextArea3").hide()
                seq1 = true
                comprobar_archivos_seq();
                msgBox.innerHTML = '<stsrong>' + filename  + '</strong>' + ' ha subido correctamente.';
            } else {
                if ( response.msg )  {
                    msgBox.innerHTML = escapeTags( response.msg );
                } else {
                    msgBox.innerHTML = 'Ha ocurrido un error al intentaru subir su archivo';
                }
            }
          },
        onError: function() {
            progressOuter3.style.display = 'none';
            btn3.innerHTML = "Selecciona un archivo valido";
            msgBox.innerHTML = 'No se pudo subir el archivo 2';
            file2 = false
          }
  });


  var uploader4 = new ss.SimpleUpload({
        button: btn4,
        url: "{{url_for('upload_file', filename='sequence2.seq')}}",
        name: 'uploadfile',
        data: {filename: 'sequence2.seq'},
        multipart: true,
        hoverClass: 'hover',
        focusClass: 'focus',
        responseType: 'json',
        startXHR: function() {
            progressOuter4.style.display = 'block'; // make progress bar visible
            this.setProgressBar( progressBar4 );
        },
        onSubmit: function() {
            msgBox.innerHTML = ''; // empty the message box
            btn4.innerHTML = 'Subiendo...'; // change button text to "Uploading..."
          },
        onComplete: function( filename, response ) {
            btn4.innerHTML = "archivo: " + filename;
            progressOuter4.style.display = 'none'; // hide progress bar when upload is completed
            if ( !response ) {
                btn4.innerHTML = "Selecciona un archivo valido";
                msgBox.innerHTML = 'No se pudo subir el archivo';
                seq2 = false
                return;
            }
            if ( response.success == true ) {
                $("#newickTextArea4").hide()
                seq2 = true
                comprobar_archivos_seq();
                msgBox.innerHTML = '<stsrong>' + filename  + '</strong>' + ' ha subido correctamente.';
            } else {
                if ( response.msg )  {
                    msgBox.innerHTML = escapeTags( response.msg );
                } else {
                    msgBox.innerHTML = 'Ha ocurrido un error al intentaru subir su archivo';
                }
            }
          },
        onError: function() {
            progressOuter4.style.display = 'none';
            btn4.innerHTML = "Selecciona un archivo valido";
            msgBox.innerHTML = 'No se pudo subir el archivo 2';
            file2 = false
          }
  });

  $('#procesar_seq').on('click', function(){
    $(".cargar_secuencias").hide()
    $(".proccess_seq").show();
  })
  $(document).on('click', ".volver_a_cargar", function(){
    $(".proccess_form").hide();
    $(".upload_form").show();
    
  });
  $("#procesar").on("click", function(){
    $(".upload_form").hide();
    $(".proccess_form").show();
    $.ajax({
      method: "POST",
      url: "{{url_for('validador')}}",
    })
    .done(function( msg ) {
      $(".proccess_form").hide();

      var data = JSON.parse(msg)

      if ('ok' in data){
        $(".proccess_form").show();
        $('.proccess_form').html('<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> Analizando ...');
        $.ajax({
          method: "POST",
          url: "{{url_for('.analizar')}}",
        })
        .done(function( msg ) {
          var data = JSON.parse(msg);
          if ('ok' in data){
            window.location.replace(data['ok']);
          }else{
            error_html = '<i class="fa fa-exclamation-circle fa-3x fa-fw"></i>  ' + data["error"];
            error_html += '</br></br><button class="btn btn-primary volver_a_cargar" > Volver a subir archivos</button>';
            $('.proccess_form').html(error_html);

          }
        });
      }else{
        if (data['id'] == 4){
          $('.cargar_secuencias').show()
          $('.form_seq1').show()
          $('.form_seq2').hide()
          seq1 = false;
        }
        else if (data['id'] == 5){
          $('.cargar_secuencias').show()
          $('.form_seq1').hide()
          $('.form_seq2').show()
          seq2 = false;
        }
        else if (data['id'] == 6){
          $('.cargar_secuencias').show()
          $('.form_seq1').show()
          $('.form_seq2').show()
          seq1 = false;
          seq2 = false;
        }
        else{
          error_html = '<i class="fa fa-exclamation-circle fa-3x fa-fw"></i>  '+ data["error"];
          error_html += '</br></br><button class="btn btn-primary volver_a_cargar"> Volver a subir archivos</button>';
          $(".proccess_form").show();
          $('.proccess_form').html(error_html);
        }
      }
    });
  });

});
</script>
{% endblock %}
{% block anteriores%}
<li class="header">Comparaciones anteriores</li>
  {%for dir in dirnames%}
  <li><a href="/revisar/{{dir}}"><i class="fa fa-circle-o text-aqua"></i> <span>{{dir[0:12] }}</span></a></li>
  {% endfor%}
{%endblock%}