{% extends 'base.html' %}
{% block extra_css%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <style type="text/css" media="screen">
      body { font-family: "Helvetica Neue", Helvetica, sans-serif; }
      td { vertical-align: top; }

      .img-hor {
        transform: scaleX(-1);
      }

      .img-hor svg g.leaf.node text{
        -webkit-transform: scaleX(-1)
      }

      .img-hor svg g g.inner.node text{
        -webkit-transform: scaleX(-1)
      } 

      #dialog{
        width: 500px;
        height: 500px;
        background: #bbdefb;
        color:  #1C2331;
      }
      .ui-dialog{
        background-color:   #bbdefb;
        color: #1C2331;
      }

      .ui-button{
        float:  right;  
      }

      td{
        text-align:   center;
      }

    </style>
{% endblock%}



{% block header_title%}
<div class="row">
  {% set icon_list = ['fa-stack-overflow', 'fa-tachometer', 'fa-line-chart', 'fa-thermometer-full'] %}
  {% set color_list = ['red', 'aqua', 'green', 'orange'] %}
  {% for statics in statistics%}
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-{{color_list[loop.index0]}}"><i class="fa {{icon_list[loop.index0]}}"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{{statics['name']}}</span>
        <span class="info-box-number">{{statics['value']}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  {%endfor%}
</div>

{% endblock%}

{%block body%}
<div class="box">
  <div class="box-body">
  <!--input type="text" name="" id="especie_buscar">
  <button class="buscador">Buscar</button-->

  <div class="ui-widget">
    <label for="tags">Especie: </label>
    <input id="tags" id="especie_buscar">
    <button class="buscador">Buscar</button>
  </div>
  


    <table>
      <tr>
        <td>
          <h2>Árbol 1</h2>
          <div id='phylogram'></div>
        </td>
         <td>
          <h2>Árbol 2</h2>
          <div id='phylogram2' class="img-hor"></div>
        </td>
      </tr>
    </table>
    <div id="dialog"></div>
  </div>
  <div class="box-footer clearfix" id="distancias">
    <div class="small-box col-sm-4 bg-red text-center" id="especie">
      <div class="inner">
        <p>Especie</p>
        <h4 id="name"></h4>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>  

    <div class="small-box col-sm-4 bg-green" id="arbol1">
      <div class="inner">
        <p>distancia en árbol 1</p>
        <h4 id="score"></h4>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>
    <div class="small-box col-sm-4 bg-blue" id="arbol2">
      <div class="inner">
        <p>distancia en árbol 2</p>
        <h4 id="score"></h4>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>


  </div>
</div>
{% endblock%}

{% block extra_js%}
  
  <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
  <script src="/static/js/d3.phylogram.js" type="text/javascript"></script>
  <script type="text/javascript">
  var newick1 = Newick.parse("{{newick1}}")
  var newick2 = Newick.parse("{{newick2}}")
  
  var newickNodes = []
  function buildNewickNodes(node, callback) {
    newickNodes.push(node)
    if (node.branchset) {
      for (var i=0; i < node.branchset.length; i++) {
        buildNewickNodes(node.branchset[i])
      }
    }
  }
  buildNewickNodes(newick1)
  buildNewickNodes(newick2)
  
  d3.phylogram.build('#phylogram', newick1, {
    width: 400,
    height: 700
  });

  d3.phylogram.build('#phylogram2', newick2, {
    width: 400,
    height: 700
  }, true);

  $(function(){

    $('.buscador').click(function(){
      var especie = $('#tags').val();
      $( "text:contains('"+especie+"')" ).prev().css({
                                                     'fill' : '#0d47a1',
                                                     'stroke' : '#0d47a1'
                                                  });
      $( "text:contains('"+especie+"')" ).css({'font-weight': 800, 'fill' : '#0d47a1'});

      $("svg g g.leaf.node text:not(:contains('"+ especie +"'))").prev().css({
                                                          "fill"  : "#5bc0de",
                                                          "stroke" : "#5bc0de"
                                                        });
      $("text:not(:contains('"+ especie +"'))").css({'font-weight': 200,'fill' : '#5bc0de'});
      var contiene_especie = $( "text:contains('"+especie+"')" ).text();
      var arbol1= contiene_especie.split(")")
      var especie_1 = arbol1[0].split('(')
      var especie = especie_1[0]
      var distancia_1 = especie_1[1]
      var especie_2 = arbol1[1].split('(')
      var distancia_2 = especie_2[1]

      $("#distancias #arbol1 #score").text(distancia_1);
      $("#distancias #arbol2 #score").text(distancia_2);
      $("#distancias #especie #name").text(especie);
    })
    $('#dialog').hide()

    $('circle').click(function(){
      var texto = $(this).next().text()
      var res_especie = texto.split("(");
      var especie = res_especie[0]

      //estilos en  los circulos
      $( "text:contains('"+especie+"')" ).prev().css({
                                                     'fill' : '#0d47a1',
                                                     'stroke' : '#0d47a1'
                                                  });
      $("svg g g.leaf.node text:not(:contains('"+ especie +"'))").prev().css({
                                                          "fill"  : "#5bc0de",
                                                          "stroke" : "#5bc0de"
                                                        });
      //estilos en los textos
      $( "text:contains('"+especie+"')" ).css({'font-weight': 800, 'fill' : '#0d47a1'});
      $("text:not(:contains('"+ especie +"'))").css({'font-weight': 200,'fill' : '#5bc0de'});


      //obtengo información de especie y distancias 
      var contiene_especie = $( "text:contains('"+especie+"')" ).text()
      var tops = '';
      var lefts = '';
      $( "text:contains('"+especie+"')" ).each(function(  ) {
        tops = tops + $( this ).prev().offset().top + ',';
        lefts = lefts + $( this ).prev().offset().left + ',';
      });




      var tops_split = tops.split(',')
      var top1 = tops_split[0]
      var top2 = tops_split[1]

      var lefts_split = lefts.split(',')
      var left1 = lefts_split[0]
      var left2 = lefts_split[1]

      var arbol1= contiene_especie.split(")")
      var especie_1 = arbol1[0].split('(')
      var especie = especie_1[0]
      var distancia_1 = especie_1[1]
      var especie_2 = arbol1[1].split('(')
      var distancia_2 = especie_2[1]

      $("#distancias #arbol1 #score").text(distancia_1);
      $("#distancias #arbol2 #score").text(distancia_2);
      $("#distancias #especie #name").text(especie);

    })

      var especies_listado = ''
      var primera_especie = ''
      var listado_especies = [];

      $("text").each(function(){
        str = $(this).text()
        if (str.toLowerCase().indexOf(")") >= 0){
          var especie_listado = str.split('(')
          if($.inArray(especie_listado[0], listado_especies) > -1){
            return false;
            //var found = $.inArray('specialword', categories) > -1;
          }
          listado_especies.push(especie_listado[0])
          var separo_especies = especies_listado.split(';')
          primera_especie = separo_especies[0]
        }
      })
    
    $( "#tags" ).autocomplete({
      source: listado_especies
    });
    
  })

  </script>
{% endblock%}

